<header>
    <h1>Your Blog</h1>
    <nav>
        <ul>
            <li><a href="/blogs">Home</a></li>
            <li><a href="/blogs/about">About</a></li>
            <li><a href="/blogs/create">Create</a></li>
        </ul>
    </nav>
</header>